table {
    border: 0px;
}

td {
    width: 10px;
    height: 10px;
    font-size: 10px;
    line-height: 10px;
}

.pulitzer {
    background-color: #7fc97f;
}

.both {
    background-color: #beaed4;
}

.nba {
    background-color: #fdc086;
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.section > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

h1, h2 {
    margin: 1em auto;
    text-align: center;
}

p {
    width: 40%;
    margin: 0.5em auto;
}

.spacer {
    width: 20%;
}

.caption p {
    width: 25em;
}

img {
    margin: 0.5em;
}
